.about-us {
  display: flex;

  gap: 2rem;
  margin-block: 2rem;

  div {
    width: 50%;
    /* max-width: 300px; */
  }

  h1 {
    margin-bottom: 1rem;
  }

  img {
    width: 100%;
  }

  @media (max-width: 600px) {
    flex-wrap: wrap;
    div {
      width: 100%;
    }
  }
}
