.menu-container {
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;

  .menu {
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-item {
    background-color: lightgreen;
    aspect-ratio: 3 / 4;
    width: 100%;
    border: 2px solid transparent;
    transition: border 0.3s;

    .menu-item:hover {
      border: 2px solid cornflowerblue;
    }
  }

  @media (max-width: 720px) {
    .menu {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 400px) {
    .menu {
      grid-template-columns: 1fr;
    }
  }
}
