* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #edefee;
  padding-inline: 4rem;
}

body {
  margin-inline: auto;
  max-width: 1200px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
.active-NavLink {
  text-decoration: underline;
  text-underline-offset: 4px;
}



button {
  padding: 5px 8px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: #495e57;
    color: white;
  }

  &:active {
    transform: scale(1.05);
  }
}

main {
  flex-grow: 1;
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

header {
  .logo-container {
    text-align: center;
    width: 100%;
    padding-top: 2rem;

    img {
      height: 128px;
    }
  }

  a {
    color: white;
  }

  ul {
    margin-block: 2rem;
    width: 100%;
    background-color: #495e57;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    padding-block: 1rem;
  }

  li {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
}

.home {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(http://www.little-lemon-restaurant.com/static/img/restaurant_inside.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;

    a {
      border: 2px solid white;
      margin-bottom: 0.5rem;
      padding: 0.5rem 2rem;
      font-weight: bold;
      font-size: large;
      color: white;

      &:hover {
        background-color: #495e57;
      }
    }
  }

  .cart-container {
    margin-block: 2rem;

    .card {
      padding: 1rem;
      flex-grow: 1;
      color: white;
      background-color: #2f2e29;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      h2 {
        text-align: center;
      }

      img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        display: block;
      }
    }

    a {
      color: white;
    }
    @media (min-width: 600px) {
      ul {
        display: flex;
        gap: 1rem;
      }
    }
  }
}

footer {
  padding: 1rem;
  display: flex;
  align-items: center;

  .copy-right {
    margin-left: auto;
    width: 50%;
    text-align: right;
    padding-block: 0.5rem;
    border-top: 1px solid black;
  }
}
